<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Address2</th>
      <th>Zipcode</th>
      <th>State</th>
      <th>Zillowid</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.address %></td>
        <td><%= property.address2 %></td>
        <td><%= property.zipcode %></td>
        <td><%= property.state %></td>
        <td><%= property.zillowId %></td>
        <td><%= property.value %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
