<div class="col-xs-12 col-lg-6">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
			Find a deal on any property
		</div>
		<div class="panel-body">
			<%= form_tag new_properties_path, method: "get" do %>
				<%= label_tag :address, "Address", class: "sr-only" %>
				<%= text_field_tag :address, nil, placeholder: "Address", class: "col-xs-12" %>
				<%= label_tag :Zipcode, "Zipcode", class: "sr-only" %>
				<%= text_field_tag :zipcode, nil, placeholder: "Zipcode", class: "col-xs-12"%>
				<%= submit_tag(:find) %>
			<% end %>
		</div>
	</div>

</div>

<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header" data-original-title="">
			<h2><i class="halflings-icon edit"></i><span class="break"></span>Form Elements</h2>
			<div class="box-icon">
				<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
				<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<%= form_tag new_properties_path, method: "get", class: "form-horizontal" do %>
				<fieldset>
				  <div class="control-group">
					<label class="control-label" for="focusedInput">Focused input</label>
					<div class="controls">
					  <input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label">Uneditable input</label>
					<div class="controls">
					  <span class="input-xlarge uneditable-input">Some value here</span>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="disabledInput">Disabled input</label>
					<div class="controls">
					  <input class="input-xlarge disabled" id="disabledInput" type="text" placeholder="Disabled input here…" disabled="">
					</div>
				  </div>
				  <div class="form-actions">
					<div class="btn-overlay"><button type="submit" class="btn btn-primary"><span>Save changes</span></button></div>
					<%= submit_tag(:find) %>
				  </div>
				</fieldset>
			<% end %>		
		</div>
	</div><!--/span-->

	</div>