<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @property.address2 %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @property.zipcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zillowid:</strong>
  <%= @property.zillowId %>
</p>

<p>
  <strong>Value:</strong>
  <%= @property.value %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
