<!DOCTYPE html>
<html>
<head>
  <title>ReiApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
	  		<%= content_for :nav_title %>
		</div>
	</nav>
	<%= content_for :nav_runner %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-danger" %>
    <% end -%>

	<%= yield %>
</div>

<!-- <div id="footer">
	<div class="container">

	</div>
</div> -->

</body>
</html>
